##ignore files in this folder.
PyInstaller/
Debug/
sci_main.exe

_output/
_output_icTest/
*.pyc
*.bak
cscope.*
tags
.pydevproject
_openocd.log
.settings/language.settings.xml
.settings/
*/_output/
.d/
